*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
}
nav li{
    color:black;
    /* font-size: 20px; */
    font-weight: 500;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
}
.hero img{
    /* width: 70%; */
    min-width: 500px;
}
.hero-text{
    width: 60%;
}
.hero-text h1{
    font-size: clamp(24px, 4.5vw, 60px);
}
.hero-text p{
    font-size:20px;
}
h2{
    text-align: center;
}
.boxes-services{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
}
.services p{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.box-services h3{
    font-size: 25px;

}
.box-services{
    text-align: center;
    width: 600px;
    margin-top: 30px;
    /* background-color: bisque; */
}
.box-services img{
    width: 70px;
}
.choose-us{
    margin-top: 150px;
}
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

}
.img{
    width: 500px;
}
img{
    /* align-self: self-start; */
    width: 100%;
}
.text{
    width: 35%;
}
.second-section{
    /* margin-top: -100px; */
    flex-direction: row-reverse;
}
h2{
    font-size: 30px;
}
h3{
    font-weight: 600;
}
@media(max-width:700px){
    .img{
        width: 300px;
    }
    .first-section{
        flex-direction: column;
    }
    .text{
        width: 80%;
        text-align: center;
    }
}
@media(max-width:875px){
    .hero{
        flex-direction: column-reverse;
    }
    .hero-text{
        width: 80%;
        margin-top: -100px;
        text-align: center;
    }
}
.about-us{
    margin-top: 100px;
}
.box{
    width: 50%;
    margin: 0 auto;
    padding: 1em 2em 0 2em;
    border: 1px solid black;
    border-radius: 1em;
}
.box img{
    width: 60px;
    float: left;
    margin-right: 20px;
}
.call-action{
    margin-top: 50px;
}
.call-action{
    text-align: center;
}
a{
    display: inline-block;
    margin: 0 auto;
    border: 0;
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-radius: 1em;
    font-size: 16px;
    font-weight: 400;
}
footer{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 30px;
}
footer img{
    width: 70px;
    margin-top: 20px;
}
.contact-us>h3{
    color: white;
    font-size: 16px;
}
.contact-us>p{
    color: white;
    /* font-size: 16px; */
}
.footer-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    color: white;
    list-style-type: none;
    font-size: 16px;
    margin: 16px 0;
}
.sections{
    align-self: center;
}
@media(max-width:650px)
{
    .footer-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    ul{
        padding: 0;
    }
}